@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color: #242B33;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #fff;
}

p {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

.title {
    color: #7aa9f0;
}

/* Bootstrap correct */
.btn-primary {
    color: rgb(255, 255, 255);
    background-color: #3e83e9;
}
/* Bootstrap correct END */

/* Header */
.header {
    margin-top: 15px;
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__call {
    display: flex;
    gap: 25px;
    align-items: center;
}

.logo__link {
    max-height: 100px;
}

.logo__img {
    max-height: 35px;
    height: 100%;
}

.nav_list {
    display: flex;
    gap: 40px;
}
/* Header END */

/* Main */
.main {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: start;
    align-items: center;
}

.main:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background: rgb(36,43,51);
    background: linear-gradient(180deg, rgba(36,43,51,1) 0%, rgba(36,43,51,1) 18%, rgba(36,43,51,0.5606617647058824) 47%, rgba(36,43,51,0) 100%);
}

.main:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background: rgb(36,43,51);
    background: linear-gradient(0deg, rgba(36,43,51,1) 0%, rgba(36,43,51,1) 48%, rgba(36,43,51,0.5606617647058824) 76%, rgba(36,43,51,0) 100%);
}

.main__title {
    max-width: 600px;
    font-weight: 600;
    /* color: #D4C17F; */
}

/* .main__subtitle {
    color: #D4C17F;
} */

.main__background {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/* Main END */

/* Special */
.special__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 60px;
}

.special__item {
    position: relative;
    flex-basis: calc(50% - 10px);
    padding-top: 25%;
    overflow: hidden;
}

/* .special__item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    background-color: #2D343C;
} */

.special__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.special__title {
    font-size: 18px;
    margin: 0 0 20px 30px;
}
/* Special END */

/* Footer */
.footer {
    background-color: #2D343C;
    padding: 20px 0;
    margin-top: 60px;
}
.footer .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    display: inline-block;
    display: flex;
}

.footer__text {
    font-size: 12px;
}

.footer__tech {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.footer__tech_text {
    font-size: 12px;
    line-height: 1.1;
}

.footer__tech_mail {
    font-size: 12px;
    line-height: 1.1;
}

.footer__tech_mail:hover {
    text-decoration: underline;
}
/* Footer END */